*.iml
target/
.idea/
Config.java

finish dynamic nav bar -- need lexi's signed in or not method

add counter from counter servlet to single page ad view --

add categories to everything -- I'll do it with lexi tomorrow morning

