*.iml
target/
.idea/
Config.java

add unique to categories and email and usernames --

finish dynamic nav bar --

add counter from counter servlet to single page ad view --

add categories to everything -- I'll do it with lexi tomorrow morning

styling



